@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
.btnsearch{
   
    background-color: #605DEC;
    color: white;
    border-radius: 2px;
    border: none;
    width: 80px;
    height: 35px;

}
.btn1 {
    background-color: #605DEC;
    color: white;
    border-radius: 2px;
    border: none;
    height: 40px;

}
.createAccBtn{
    background-color: #605DEC;
    color: white;
    border-radius: 2px;
    border: none;
    width: 200px;
    height: 35px;

}
.Slink{
    width: 400px;
}
.divSpace{
    height: 100px;
}
.ShowBtn{
    background-color:white;
    color:  #605DEC;
    border-radius: 10px;
    border-color: #605DEC;
    width: 200px;
    height: 35px;
   
}
body{
    overflow-x: hidden;
}
@media (orientation: portrait){
  
    .ShowbtnDiv{
        text-align: center;
    }
    .btnsearch{
        margin-top: 5px;
        

    }
    .cc{
        padding-top: 10px;
    }
    body{
        overflow-x: hidden;
    }
    .mapImage{
        display: none;
    }
    .findSubHead{
        margin-left: 10%;
    }
  
}
@media(max-width:600px)
{
    .mapImage{
        display: none;
    }
   
    .spacing{
        padding: 10px;
    }
}